projects/kenya_examples/data
projects/kenya_examples/results
~/rajani/diurnal_cycle/projects/main/data
~/rajani/diurnal_cycle/projects/main/results
/data/
results/
data_files/
output/
logs/
projects/main/code/archive
/log
.Rproj.user
.Rhistory
.RData
.Ruserdata
